html {
  font-family: agency fb;
}

body {
  background-color: #00bbff;
}


.container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 1fr 1fr 1fr 1fr 200px;
  gap: 0px 0px;
}

.header {
  grid-area: 1 / 1 / 2 / 3;

  margin: auto;


}

.maincontent {
  grid-area: 2 / 1 / 6 / 4;


  color: rgb(245, 241, 241);
  font-weight: bold;
  font-size: large;
  margin: 100px;
  margin-left: auto;



}

.navbar {

  grid-area: 1 / 4 / 6 / 5;


}




.footer {
  grid-area: 6 / 1 / 7 / 5;
}



body {

  background-image: url(background-1939128_1280.png);
  margin: 0;

}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #00b7ff;
  color: white;
}

.active {
  background-color: #bcbcbc;
}

ul {
  border: 1px solid #555;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
}

li:last-child {
  border-bottom: none;
}


.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #d6fcff;
  border: 2px outset black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.containerr {
  padding: 10px 5%;
  position: relative;
  background-color: inherit;
  width: 40%;
}

.containerr::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background: url(https://i.imgur.com/RO0seBO.gif);
  background-position: -70px -40px;
  border: 4px inset black;
  top: 15px;
  z-index: 1;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 90%;
  border: medium solid black;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent black;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 90%;
  border: medium solid black;
  border-width: 10px 10px 10px 0;
  border-color: transparent black transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 10px 20px;
  background-color: black;
  position: relative;
  border: outset 2px black;
}

.Titel {

  color: #00b7ff;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;

}

@media screen and (max-width:430px) {
  .container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 137px 141px 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
  }

  .header {
    grid-area: 1 / 1 / 2 / 5;
  }

  .navbar {
    grid-area: 2 / 1 / 3 / 5;
  }

  .maincontent {
    grid-area: 3 / 1 / 6 / 5;
    margin: 0;
  }

  .tekst {
    color: white;
    font-size: 110%;
    margin-top: 55px;
    margin-right: 40px;
    padding-left: 62px;

  }

  .footer {
    grid-area: 6 / 1 / 7 / 5;
  }

  img {
    width: 318px;
    height: 137px;
  }

  li {
    width: 318px;
  }

  ul {
    width: 318px;
  }

  .timeline::after {
    left: 31px;
  }

  .containerr {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;

  }

  .container::before {
    left: 60px;
    margin-left: 17px;
  }

  .left::after,
  .right::after {
    left: 15px
  }

  .right {
    left: 0%;
  }

  .content {
    width: 188px;
  }

  .right::before {
    left: 15%;
  }

  .left::before {
    left: 17%;
  }
}

.Titel {
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width:431px) {

  ul {
    border: 1px solid #555;
    margin-top: 220px;
  }



}